@import "../../../assets/scss/colorVariables";

figure {
  margin-top: 30px;
  height: 250px;
  width: 300px;
  .img-cover {
    background-image: url("../../../assets/images/img-frame.png");
    background-position: 0px 50px;
    background-repeat: no-repeat;
    .information {
      padding-bottom: 20px;
      span {
        display: flex;
        justify-content: center;
        font-weight: 500;
      }
    }
    img {
      z-index: 3;
      margin-left: 50px;
      max-width: 300px;
      max-height: 200px;
    }
  }
}

@media screen and (max-width: 576px) {
  figure {
    margin: 0 10px;
    .img-cover {
      img {
        max-width: 200px;
        max-height: 200px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
